.myStyle2 {
    background-image: url('../assests/bg/bg-vector.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    max-height: 100%;
    width: 100%;
    border-radius: 45px;
}